body {
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #333333;
    height: 100vh;
    margin: 0;
}

#game {
    background-color: white;
    padding: 2rem;
    border-radius: 1rem;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

canvas {
    display: block;
}

.button-container {
    display: flex;
    justify-content: center;
    margin-bottom: 1rem;
}

#game-canvas, #game-info {
    display: none;
}
button {
    display: inline-block;
    margin-top: 1rem;
    margin-right: 1rem;
    padding: 0.5rem 1rem;
    font-size: 1rem;
    cursor: pointer;
    background-color: #ffffff;
    border: 1px solid #cccccc;
    color: #333333;
    transition: background-color 0.3s ease;
    border-radius: 0.3rem;
}

button:hover {
    background-color: #E1E1E1;
}

#game-info {
    margin-top: 1rem;
    font-size: 1.2rem;
    color: #E1E1E1;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
}

.game-title {
    font-size: 4rem;
    color: #E1E1E1;
    margin-bottom: 1rem;
}

