body {
    background-color: #333333;
    background-image: radial-gradient(circle, rgba(255, 255, 255, 0.02) 2%, transparent 20%),
                      radial-gradient(circle, rgba(255, 255, 255, 0.02) 1%, transparent 20%);
    background-position: 0 0, 25px 25px;
    background-size: 50px 50px;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
  }
  
  h1 {
    text-align: center;
    padding: 20px;
    color: #e1e1e1;
  }
  
  table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
  }
  
  th, td {
    border: 1px solid #ccc;
    text-align: left;
    padding: 8px;
  }
  
  td {
    color: #e1e1e1;
    font-size: small;
  }
  
  th {
    background-color: #e1e1e1;
    font-weight: bold;
  }
  
  tr:nth-child(even) {
    background-color: #3a3a3a;
  }
  button {
    width: 15%;
    padding: 1rem;
    margin-top: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    background-color: #e1e1e1;
    color: #333333;
    border: 0.5px solid #d0d0d0;
    border-radius: 5px;
    font-size: 20px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

  button:hover {
      background-color: #d0d0d0;
  }